.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 30px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #0c1725;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left {
  background-color: #f4d33b;
  color: rgb(33, 45, 68);
  border-radius: 12px;
  box-shadow: 2px 6px 6px rgb(33, 45, 68, 0.2);
  font-weight: 700;
  padding: 8px 16px;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: inline-block;
  border-radius: 6px;
}

a:visited {
  color: #212d44;
}

a:focus,
a:hover {
  background-color: #8498b3;
  box-shadow: 2px 6px 6px rgb(132, 152, 179, 0.5);
}
